
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

/* Body */

body {
    background: rgb(58, 58, 58);
    color: #007fd6;
    font-family: 'Catamaran', serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: #d8d8d6;
    padding: 20px 40px 20px 40px;
    text-align: center;
}


a {
    color:black; 
    text-decoration: none;
}

a:hover {
    text-transform: lowercase;
    color: #96390a;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    }

ul .second-navigation-bar {
    color: black;
    border-color: white;
    margin: 0px;
    padding: 10px 10px;
    white-space: nowrap;
    
    }

nav .second-navigation-bar {
    margin: 0;
    padding: 10px 10px;
    background-color: rgb(226, 229, 232);
    white-space: nowrap;
}

li {
    display: inline-block;
    margin: 20px;
    font-size: 25px;
}

li a:hover {
    text-transform: white;
}

/* Section */
section {
    background: white;
    background-image: url("../images/foil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
    font-family: 'Catamaran', serif;
    padding: 300px;
    margin: auto 0;
    text-align: center;
}
section h1 { 
    color: white;
    display: inline-block;
    font-family:'Catamaran', serif;
    font-size: 125px;
    text-decoration: none;
    text-transform: none;
    margin: 0 auto;
    white-space: nowrap;
}

section div {
    margin: 0 auto;
}

div h1{
    text-shadow: 6px 6px rgb(0,0,0,0.6);
}

section.features {
    background: white;
    color: black;
    display: flex;
    font-family: 'Catamaran', serif;
    font-size: 25px;
    margin: 0;
    padding: 200px 100px 200px 100px;
    text-align: center;
    display: inline-block;
}

button {
    background-color:#d8d8d6; 
    border: black;
    padding: 10px 20px 10px 20px;
    text-align: center;
    display: cover;
    font-family: 'Catamaran', serif;
    font-size: 20px;
    white-space: nowrap;
}

button:hover {
    text-transform: uppercase; 
    background-color: white;
}

a.intro {
    color: white;  
}

a.intro :hover {
    text-transform: uppercase;
}

h4 {
    font-family:'Catamaran', serif;
    color: white;  
    font-size: 50px;
    display: inline-block;
    text-shadow: 6px 6px rgb(0,0,0,0.4);
    white-space: nowrap;
}

.testimonial {
    border: 1px solid #555;
    border-radius: 55%;
    box-shadow: 2px 2px 2px 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 15%;
    max-height: 15%;
}

.bigger {
    font-size: 25px;
}

table, th, td {
    border: 1px solid black;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
footer {
    background: #d8d8d6; 
    padding: 20px 20px;
    color: #007fd6;
    display: flex;
    flex-direction: column;
    text-align: center;
    Font-size:  20px;
}


/* RESPONSIVE DESIGN*/
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
    img { max-width: 100% }
    header { max-width: 100%; }
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
    img { max-width: 100%; }
    header { max-width: 100%; }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

@media (min-width: 100px) { 
    header { max-width: 100%; }
    body {font-size:1rem;} 
    img { min-width: 30%; }
}

@media (min-width: 640px) { 
    header { max-width: 100%; }
    body {font-size:1rem;} 
    img { min-width: 30%; }
}

@media (min-width:960px) { 
    header { max-width: 100%; }
    body {font-size:1.2rem;} 
    img { min-width: 30%; }
}

@media (min-width:1100px) { 
    header { max-width: 100%; }
    body {font-size:1.5rem;}
    img { min-width: 30%; }
}
