
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');


body {
    background: rgb(58, 58, 58);
    color: #6699cc;
    font-family: 'Catamaran', serif;
    margin: 0;
    padding: 0;
}

header {
    background: #d8d8d6;
    padding: 20px 40px 20px 40px;
    text-align: center;
}

a {
    color:black; 
    text-decoration: none;
}

a:hover {
    text-transform: lowercase;
}

a:active {
    text-transform: #8bd2fe;
}
section {
    background: white;
    background-image: url("../images/foil.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    color: black;
    display: flex;
    font-family: 'Catamaran', serif;
    padding: 100px;
    text-align: center;
}
section.features {
    background-image: none;
    background: white;
    color: black;
    display: flex;
    font-family: 'Catamaran', serif;
    font-size: 25px;
    margin: 0;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

button {
    background-color:#d8d8d6; 
    border: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: 'Catamaran', serif;
    font-size: 20px;
    white-space: nowrap;
}

button:hover {
    text-transform: uppercase; 
    background-color: white;
}

span #linkedin{
    color: white;
    text-decoration: none;
}

span:hover {
    text-decoration: none;  
}


section h1 { 
    color: white;
    display: inline-block;
    font-family:'Catamaran', serif;
    font-size: 125px;
    text-decoration: none;
    text-transform: none; 
}

a.intro {
    color: white; 
    text-decoration: none; 
}

a.intro :hover {
    text-transform: uppercase;
}

.features figure{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}

.features figure img {
    border-radius: 100px;
    box-shadow: grey 0 0 50px;
    width:280px;
}

h4 {
    font-family:'Catamaran', serif;
    color: white;  
    font-size: 50px;
    display: inline-block;
}

p .homepage {
    background: #d8d8d6;
    display: block;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

ul .second-navigation-bar {
    color: black;
    border-color: white;
    padding: 10px;
    margin: 10px;
    }



li {
    display: inline-block;
    margin: 20px;
}

li, a:hover {
    text-decoration: none;
}

footer {
    background: #d8d8d6; 
    padding: 20px 20px;
    color: #6699cc;
    display: flex;
    flex-direction: column;
    text-align: center;
}